## -*- coding: utf-8 -*-
<%namespace name="base" file="base_helper.tmpl" import="*"/>

<%def name="html_header()">
${html_navigation_links()}
</%def>

<%def name="html_site_title()">
</%def>

<%def name="html_navigation_links()">
    <nav id="dl-menu" class="dl-menuwrapper" role="navigation">
    <button class="dl-trigger">Open Menu</button>
    <ul class="dl-menu">
    %for url, text in navigation_links[lang]:
        % if isinstance(url, tuple):
            <li>
                <a href="#">${text}</a>
                <ul class="dl-submenu">
                %for suburl, text in url:
                    <li><a href="${suburl}">${text}</a></li>
                %endfor
                </ul>
        % else:
            <li><a href="${url}">${text}</a></li>
        % endif
    %endfor
    ${template_hooks['menu']()}
    ${template_hooks['menu_alt']()}
    </ul>
    </nav>
</%def>

<%def name="html_translation_header()">
    %if len(translations) > 1:
        <div id="toptranslations">
            <h2>${messages("Languages:")}</h2>
            ${base.html_translations()}
        </div>
    %endif
</%def>
